<form>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="nombre" name="nombre"/>
    </div>
    <div class="mb-3">
        <label for="fechaNacimiento" class="form-label">Fecha Nacimiento</label>
        <input type="date" class="form-control" [(ngModel)]="fechaNacimiento" name="fechaNacimiento"/>
    </div>
    <div class="mb-3">
        <label for="foto" class="form-label">Foto</label>
        <input type="text" class="form-control" [(ngModel)]="foto" name="foto" disabled />
    </div>
    <button (click)="addActorPrueba()" *ngIf="actor.id==0" class="btn btn-primary">
        Agregar
    </button>
    <button (click)="updateActor()" *ngIf="actor.id!=0" class="btn btn-primary">
        Editar
    </button>
</form>
